.App {
  text-align: center;
}
.login_register, .login, .register{
  display: flex;
  flex-direction: column;
  width: 40vw;
  align-items: center;
  margin: auto;
}
.login{
  margin-bottom: 10vh;
}
input, h1{
  margin-bottom: 2vh;
}
.header{
  display: flex;
  justify-content: space-between;
  padding-right: 10vw;
  padding-left: 5vw;
  background-color: aqua;
  height: 10vh;
  align-items: center;
  margin-bottom: 3vh;
}
.space{
  width: 9vw;
}