input, h1{
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-family: 'Lobster', cursive;
  font-size: 3vh;
}
nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
}
button{
  font-family: 'Lobster', cursive;
  font-size: 2.5vh;
  border-radius: 12px;
  background-color: transparent;
  color: black;
  border: 2px solid black;
}
button:hover{
  background-color: whitesmoke;
  font-size: 3.5vh;
  cursor: pointer;
}
.App {
  text-align: center;
  background-color: turquoise;
}
.login_register, .login, .register{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.login, .register{
  width: 45vw;
}
.login_register{
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-family: 'Lobster', cursive;
  font-size: 5vh;
}
.login_register2{
  height: 90vh;
  display: flex;
  align-items: center;
}
.header{
  display: flex;
  justify-content: space-between;
  padding-right: 2vw;
  padding-left: 2vw;
  background-color: aqua;
  height: 10vh;
  align-items: center;
}
.space{
  width: 17vw;
}
.admin-container{
  display: flex;
  justify-content: space-evenly;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 5vh;
}
.admin-elements{
  border: 1px dashed black;
  width: 45%;
  height: 40vh;
  overflow: scroll;
}
.admin-elements:hover{
  border: 2px solid black;
  background-color: beige;
}
.items{
  width: 95vw;
  margin: auto;
  padding-top: 1vh;
  padding-bottom: 3vh;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}
.item-profile, .user-cart{
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 30vw;
  min-height: 40vh;
  margin: auto;
  margin-bottom: 2vh;
  font-family: 'Cinzel', serif;
  font-size: 2vh;
}
.product-name{
  font-size: 3vh;
}
.about{
  background-color: aqua;
  width: 96.75vw;
  font-family: 'Lobster', cursive;
  font-size: 3vh;
}
p{
  padding-top: 1.5vh;
}
img{
  height: 30vh;
  width: 20vw;
}
img:hover{
  height: 40vh;
  width: 30vw;
  position: relative;
  z-index: 1;
}
.cart{
  width: 80%;
  min-height: 25vh;
  margin: auto;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}
.size-quantity{
  display: flex;
  justify-content: center;
}
.size{
  width: 5vw;
  margin-right: 2vw;
}
.quantity{
  width: 3vw;
}
.cart-footer{
  display: flex;
  justify-content: center;
}
.mark{
  margin-right: 2vw;
}
.order-list{
  margin: 1vh;
}
ul, li{
  list-style-type: none;
}
.city-state-zip{
  display: flex;
  justify-content: center
}
.order-list:hover{
  cursor: pointer;
  border: 1px solid black;
}
.welcome{
  font-family: 'Lobster', cursive;
  font-size: 2.5vh;
  margin-right: 1vw;
}
.title{
  font-family: 'Monoton', cursive;
  font-size: 6vh;
}
.logged-in, .logged-out{
  display: flex;
  align-items: center;
  width: 17vw;
}
.cart-item{
  margin-bottom: 2vh;
}